{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'profile.edit.parent'|trans({},'navbar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="form-horizontal">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    {#<li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                            Basic Info
                        </a>
                    </li>#}

                   {# <li>
                        <a data-toggle="tab" href="#edit-settings">
                            <i class="purple ace-icon fa fa-cog bigger-125"></i>
                            Settings
                        </a>
                    </li>#}

                    <li>
                        <a data-toggle="tab" href="#edit-password">
                            <i class="blue ace-icon fa fa-key bigger-125"></i>
                            Password
                        </a>
                    </li>
                </ul>

                <div class="tab-content profile-edit-tab-content">
                    {#<div id="edit-basic" class="tab-pane">
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            <h4 class="header blue bolder smaller">General</h4>

                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <input type="file" />
                                </div>

                                <div class="vspace-12-sm"></div>

                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Username</label>

                                        <div class="col-sm-8">
                                            {{ form_widget(form.username, {'attr': {'class': 'col-xs-12 col-sm-10','placeholder': 'registration.username'|trans({}, "forms")  }}) }}
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Name</label>

                                        <div class="col-sm-8">
                                            <input class="input-small" type="text" id="form-field-first" placeholder="First Name" value="Alex" />
                                            <input class="input-small" type="text" id="form-field-last" placeholder="Last Name" value="Doe" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>

                                <div class="col-sm-9">
                                    <div class="input-medium">
                                        <div class="input-group">
                                            <input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" />
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>

                                <div class="col-sm-9">
                                    <textarea id="form-field-comment"></textarea>
                                </div>
                            </div>

                            <div class="space"></div>
                            <h4 class="header blue bolder smaller">Contact</h4>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

                                <div class="col-sm-9">
                                    <span class="input-icon input-icon-right">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'registration.email'|trans({}, "forms")  }}) }}
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>

                                <div class="col-sm-9">
                                    <span class="input-icon input-icon-right">
                                        <input type="url" id="form-field-website" value="http://www.alexdoe.com/" />
                                        <i class="ace-icon fa fa-globe"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="space"></div>
                            <h4 class="header blue bolder smaller">Social</h4>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

                                <div class="col-sm-9">
                                    <span class="input-icon">
                                        <input type="text" value="facebook_alexdoe" id="form-field-facebook" />
                                        <i class="ace-icon fa fa-facebook blue"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

                                <div class="col-sm-9">
                                    <span class="input-icon">
                                        <input type="text" value="twitter_alexdoe" id="form-field-twitter" />
                                        <i class="ace-icon fa fa-twitter light-blue"></i>
                                    </span>
                                </div>
                            </div>

                        <div class="form-group">
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder': 'registration.password'|trans({}, "forms")  }}) }}
                        </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Save
                                    </button>

                                    &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>#}
                    {# ---------------------------------------------------------------------------------  #}
                    {#<div id="edit-settings" class="tab-pane">
                        <form>
                            <div class="space-10"></div>

                            <div>
                                <label class="inline">
                                    <input type="checkbox" name="form-field-checkbox" class="ace" />
                                    <span class="lbl"> Make my profile public</span>
                                </label>
                            </div>

                            <div class="space-8"></div>

                            <div>
                                <label class="inline">
                                    <input type="checkbox" name="form-field-checkbox" class="ace" />
                                    <span class="lbl"> Email me new updates</span>
                                </label>
                            </div>

                            <div class="space-8"></div>

                            <div>
                                <label class="inline">
                                    <input type="checkbox" name="form-field-checkbox" class="ace" />
                                    <span class="lbl"> Keep a history of my conversations</span>
                                </label>

                                <label class="inline">
                                    <span class="space-2 block"></span>

                                    for
                                    <input type="text" class="input-mini" maxlength="3" />
                                    days
                                </label>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Save
                                    </button>

                                    &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>#}
                    {# ---------------------------------------------------------------------------------  #}
                    <div id="edit-password" class="tab-pane in active">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            <div class="space-10"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">Old Password</label>

                                <div class="col-sm-9">
                                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder': 'registration.password'|trans({}, "forms")  }}) }}
                                </div>
                            </div>

                            <div class="space-10"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">New Password</label>

                                <div class="col-sm-9">
                                    {#{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'registration.password_new'|trans({}, "forms")  }}) }}#}
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

                                <div class="col-sm-9">
                                    {#{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'registration.repeat_password'|trans({}, "forms")  }}) }}#}
                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn" value="{{ 'change_password.submit'|trans }}" />

                                    &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}