{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'profile.show.parent'|trans({},'navbar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-3 center">
            <span class="profile-picture">
                <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="{{ asset('bundles/admin/avatars/profile-pic.jpg') }}" />
            </span>

            <div class="space space-4"></div>

           {# <a href="#" class="btn btn-sm btn-block btn-success">
                <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                <span class="bigger-110">{{ 'profile.show.add_as_friend'|trans({},'navbar') }}</span>
            </a>

            <a href="#" class="btn btn-sm btn-block btn-primary">
                <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                <span class="bigger-110">{{ 'profile.show.send_msg'|trans({},'navbar') }}</span>
            </a>#}
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
                <span class="middle">
                    {% if user.firstName is defined and user.firstName is not null %}
                        {{ user.firstName }}
                    {% endif %}
                    {% if user.lastName is defined and user.lastName is not null %}
                        {{ user.lastName }}
                    {% endif %}
                </span>
            </h4>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> {{ 'profile.show.username'|trans({},'navbar') }} </div>

                    <div class="profile-info-value">
                        <span>{{ user.username }}</span>
                    </div>
                </div>

                {% if user.country is defined and user.country is not null or user.city is defined and user.city is not null %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ 'profile.show.location'|trans({},'navbar') }} </div>

                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            {% if user.country is defined and user.country is not null %}
                                <span>{{ user.country }}</span>
                            {% endif %}
                            {% if user.city is defined and user.city is not null %}
                                <span>{{ user.city }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if user.birthday is defined and user.birthday is not null %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ 'profile.show.age'|trans({},'navbar') }} </div>

                        <div class="profile-info-value">
                            <span>{{ user.birthday|date("d.m.Y") }}</span>
                        </div>
                    </div>
                {% endif %}

                <div class="profile-info-row">
                    <div class="profile-info-name"> {{ 'profile.show.joined'|trans({},'navbar') }} </div>

                    <div class="profile-info-value">
                        <span>{{ user.createdAt|date("d.m.Y") }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> {{ 'profile.show.last_online'|trans({},'navbar') }} </div>

                    <div class="profile-info-value">
                        <span>{{ user.lastLogin|date("d.m.Y") }}</span>
                    </div>
                </div>
            </div>

            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
                {% if user.website is defined and user.website is not null %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Website </div>

                        <div class="profile-info-value">
                            <a href="{{ user.website }}" target="_blank">{{ user.website }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if user.facebook is defined and user.facebook is not null %}
                    <div class="profile-info-row">
                        <div class="profile-info-name">
                            <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                        </div>

                        <div class="profile-info-value">
                            <a href="{{ user.facebook }}">Find me on Facebook</a>
                        </div>
                    </div>
                {% endif %}

                {% if user.twitter is defined and user.twitter is not null %}
                    <div class="profile-info-row">
                        <div class="profile-info-name">
                            <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                        </div>

                        <div class="profile-info-value">
                            <a href="{{ user.twitter }}">Follow me on Twitter</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block javascript %}{% endblock %}