.snippet-details {
  &-header,
  &-body{
    margin-bottom: 40px;
  }
}

.margin-top {
  margin-top: 40px;
}

.text-padding {
  padding-bottom: 40px;
}

.no-min-height{
  min-height: 0px !important;
  height: 0px !important;
}