.btn-position-right{
  float:right;
  right: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-position-left{
  margin-bottom: 25px;
}

.form-margin{
  &-bottom {
    margin-bottom: 15px;
  }
}

.glyphicon {
  color: $color;
  padding-right: 25px;

  &:hover{
    font-size: 120%;
    text-decoration: none;
    color: $color;
  }
}
