.pagination {
    .disabled,
    li {
        a,
        span,
        a:focus,
        a:hover,
        span:hover,
        span:focus {
            color: #585858;
            border-color: #fff;
        }
    }
    .disabled,
    li {
        a:hover,
        span:hover,
        span:focus {
            background-color: #fff;
            border-bottom: 1px solid #585858;
        }
    }
    .active {
        a,
        a:focus,
        a:hover,
        span,
        span:focus,
        span:hover {
            background-color: #fff;
            border-color: #fff;
            border-bottom: 1px solid #585858;
            color: #585858;
        }
    }
}