.glyphicon-light {
    a {
        text-decoration: none;
        color: $light-gray;
        &:hover,
        &:active {
            color: $color;
            text-decoration: none;
        }
    }
}

label {
    &[for="fos_user_registration_form_plainPassword_first"],
    &[for="fos_user_registration_form_plainPassword_second"] {
        display: none !important;
    }
}
