{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block parent %}{{ 'dashboard.parent'|trans({},'sidebar') }}{% endblock %}
{% block child %}...{% endblock %}
{% block contentHeadline %} {{ 'dashboard.parent'|trans({},'sidebar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}

{% endblock %}