{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block parent %}{{ 'settings.users'|trans({},'sidebar') }}{% endblock %}
{% block child %}...{% endblock %}
{% block contentHeadline %} {{ 'settings.users'|trans({},'sidebar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <th>{{ 'settings.users.username'|trans([], 'frontend') }}</th>
                <th>{{ 'settings.users.email'|trans([], 'frontend') }}</th>
                <th>{{ 'settings.users.roles'|trans([], 'frontend') }}</th>
                <th>{{ 'settings.users.enabled'|trans([], 'frontend') }}</th>
                <th></th>
                </thead>
                <tbody>
                {% for result in users %}
                    <tr>
                        <td>{{ result.username }}</td>
                        <td>{{ result.email }}</td>
                        <td>
                            {% for role in result.roles %}
                                <span class="label label-sm label-success">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ result.enabled }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-success">
                                    <a href="{{ path('user_details') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-check bigger-120" style="color:white;"></i>
                                    </a>
                                </button>

                                <button class="btn btn-xs btn-info">
                                    <a href="{{ path('edit_user') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-pencil bigger-120" style="color:white;"></i>
                                    </a>
                                </button>

                                <button class="btn btn-xs btn-danger">
                                    <a href="{{ path('delete_user') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-trash-o bigger-120" style="color:white;"></i>
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}