{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block parent %}{{ 'settings.users'|trans({},'sidebar') }}{% endblock %}
{% block child %}...{% endblock %}
{% block contentHeadline %} {{ 'settings.users'|trans({},'sidebar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{% endblock %}