{% trans_default_domain 'AdminBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/ace-fonts.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/ace.min.css') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/ace-skins.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/ace-rtl.min.css') }}" />

    <script src="{{ asset('bundles/admin/js/ace-extra.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('built/css/main.css') }}">

    <link rel="stylesheet" href="{{ asset('css/prism.css') }}">
    <link rel="stylesheet" href="{{ asset('built/css/main.css') }}">

    {% block stylesheets %}{% endblock %}

</head>

{% block preBody %}
<body class="no-skin">


    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable flash-{{ type }}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% block body %}
        {% include('navbar.html.twig') %}

        <!-- /section:basics/navbar.layout -->
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {}
            </script>

            {% include('sidebar.html.twig') %}

            <!-- /section:basics/sidebar -->
            <div class="main-content">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs" id="breadcrumbs">
                    {#<script type="text/javascript">
                        try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch (e) {}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            #}{#<i class="ace-icon fa fa-home home-icon"></i>#}{#
                            <a href="#">{% block parent %}{% endblock %}</a>
                        </li>
                        <li class="active">{% block child %}{% endblock %}</li>
                    </ul>#}
                    <!-- /.breadcrumb -->

                    <!-- #section:basics/content.searchbox -->
                    <div class="nav-search" id="nav-search">
                        <form class="form-search" action="{{ url('search_snippet') }}">
                        <span class="input-icon">
								<input type="text" name="term" placeholder="{{ 'navbar.search'|trans({},'navbar') }}" class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                        </form>
                    </div>
                    <!-- /.nav-search -->

                    <!-- /section:basics/content.searchbox -->
                </div>

                <div class="page-header">
                    <h1>
                        {% block contentHeadline %}{% endblock %}
                        {#<br>
                        <small><i class="ace-icon fa fa-info"></i> {% block contentSubHeadline %}Hier folgt ein Infotext{% endblock %}</small>#}
                    </h1>
                </div>

                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% endblock %}

    <script src="{{ asset('bundles/admin/js/jquery.min.js') }}"></script>

    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='./bundles/admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <script src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/ace-elements.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/ace.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/ace.onpage-help.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/js/themes/sunburst.css') }}" />

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="{{ asset('bundles/admin/js/ace/ace.onpage-help.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/rainbow.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/language/generic.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/language/html.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/language/css.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/language/javascript.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/ace-extra.min.js') }}"></script>

    <script src="{{ asset('js/clipboard.min.js') }}"></script>
    <script src="{{ asset('js/prism.js') }}"></script>
    <script src="{{ asset('built/js/app.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
{% endblock %}
</html>