{% trans_default_domain 'AdminBundle' %}

<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-code"></i>
                    <b style="font-weight: 900">Code</b>Snippets
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->

            <!-- #section:basics/navbar.toggle -->

            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="purple">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="ace-icon fa fa-cloud-download"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{ asset('bundles/app/extensions/chrome/CodeSnippets.crx') }}">
                                <i class="ace-icon fa fa-chrome"></i>
                                Chrome Extension
                            </a>
                        </li>
                        {#<li>
                            <a href="#}{#{{ asset('bundles/app/extensions/chrome/CodeSnippets.crx') }}#}{##">
                                <i class="ace-icon fa fa-firefox"></i>
                                Firefox Extension
                            </a>
                        </li>#}

                    </ul>
                </li>


                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="{{ asset('bundles/admin/avatars/avatar5.png') }}" alt="User's Photo" />
                        <span class="user-info">
									<small>{{ 'user.welcome'|trans({},'navbar') }},</small>
									{{ app.user.username }}
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{ url('profile_edit') }}">
                                <i class="ace-icon fa fa-cog"></i>
                                {{ 'user.settings'|trans({},'navbar') }}
                            </a>
                        </li>

                        <li>
                            <a href="{{ url('profile_show') }}">
                                <i class="ace-icon fa fa-user"></i>
                                {{ 'user.profile'|trans({},'navbar') }}
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="ace-icon fa fa-power-off"></i>
                                {{ 'user.logout'|trans({},'navbar') }}
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div><!-- /.navbar-container -->
</div>