{% trans_default_domain 'AdminBundle' %}

<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar                  responsive">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <a href="{{ url('my_snippets') }}" class="" style="color: white;">
                    <i class="ace-icon fa fa-folder-open-o"></i>
                </a>
            </button>

            <button class="btn btn-info">
                <a href="{{ url('new_snippet') }}" class="">
                    <i class="ace-icon fa fa-pencil" style="color: white;"></i>
                </a>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <a href="{{ url('profile_show') }}" class="">
                    <i class="ace-icon fa fa-users" style="color: white;"></i>
                </a>
            </button>

            <button class="btn btn-danger">
                <a href="{{ url('profile_edit') }}" class="">
                    <i class="ace-icon fa fa-cogs" style="color: white;"></i>
                </a>
            </button>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
           <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="">
            <a href="{{ url('admin_backend') }}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> {{ 'dashboard.parent'|trans({},'sidebar') }} </span>
            </a>

            <b class="arrow"></b>
        </li>

        {% if is_granted('ROLE_SUPER_ADMIN') -%}
            <li class="treeview">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-cogs"></i>
                    <span class="menu-text"> {{ 'settings.parent'|trans({},'sidebar') }} </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{ url('list_users') }}" class="">
                            <i class="menu-icon fa fa-caret-right"></i>

                            {{ 'settings.users'|trans({},'sidebar') }}
                            <b class="arrow"></b>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    {#<li class="">
                        <a href="{{ url('profile_show') }}" class="">
                            <i class="menu-icon fa fa-caret-right"></i>

                            {{ 'settings.logs'|trans({},'sidebar') }}
                            <b class="arrow"></b>
                        </a>

                        <b class="arrow"></b>
                    </li>#}
                </ul>
            </li>
        {% endif %}

        <li class="">
            <a href="{{ url('my_snippets') }}">
                <i class="menu-icon fa fa-folder-open-o"></i>
                <span class="menu-text"> {{ 'snippets.my_snippets'|trans({},'sidebar') }} </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="{{ url('new_snippet') }}">
                <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-text"> {{ 'snippets.new_snippets'|trans({},'sidebar') }} </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script src="{{ asset('bundles/admin/js/jquery.min.js') }}"></script>
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}


        var url = window.location;

        $('ul.nav-list a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');

        $('ul.submenu a').filter(function() {
            return this.href == url;
        }).parentsUntil(".nav-list > .submenu").addClass('active');
    </script>
</div>