{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block preBody %}
    <body class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h3>
                                    <i class="ace-icon fa fa-code white"></i>
                                    <span class="white" id="id-text2"><b style="font-weight: 900">Code</b>Snippets</span>
                                </h3>
                            </div>
                            <div class="space-6"></div>
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="ace-icon fa fa-user green"></i>
                                                Registrieren
                                            </h4>
                                            <div class="space-6"></div>
                                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                                            <div class="form-group">
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'registration.email'|trans({}, "forms")  }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder': 'registration.username'|trans({}, "forms") }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'registration.password'|trans({}, "forms") }}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'registration.repeat_password'|trans({}, "forms") }}) }}
                                            </div>
                                            <div>
                                                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, "forms") }}" />
                                            </div>
                                            {{ form_end(form) }}
                                        </div><!-- /.widget-main -->
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->
                            </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div>
    </body>
{% endblock %}


