{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'profile.edit.parent'|trans({},'navbar') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-3 center">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {#{{ form_widget(form) }}#}

            <div class="form-group">
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder': 'registration.password'|trans({}, "forms")  }}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'registration.password_new'|trans({}, "forms")  }}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'registration.repeat_password'|trans({}, "forms")  }}) }}
            </div>

            <div>
                <input type="submit" class="btn" value="{{ 'registration.save'|trans({}, "forms") }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}
