{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block preBody %}
    <body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h3>
                                <i class="ace-icon fa fa-code white"></i>
                                <span class="white" id="id-text2"><b style="font-weight: 900">Code</b>Snippets</span>
                            </h3>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-user green"></i>
                                            Anmelden
                                        </h4>

                                        <div class="space-6"></div>


                                        <form action="{{ path("fos_user_security_check") }}" method="post">
                                            <fieldset>
                                                {% if csrf_token %}
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                {% endif %}

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="{{ 'login.username'|trans({},'forms') }}" id="username" name="_username" value="{{ last_username }}" required="required" />
															<i class="ace-icon fa fa-user"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" id="password" placeholder="{{ 'login.password'|trans({},'forms') }}" name="_password" required="required" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <label for="remember_me">{{ 'login.remember_me'|trans({},'forms') }}</label>
                                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                    </label>

                                                    <input type="submit" id="_submit" class="width-35 pull-right btn btn-sm btn-primary" name="_submit" value="{{ 'login.submit'|trans({},'forms') }}" />

                                                </div>

                                                <div class="space-4"></div>

                                                <a href="{{ url('register') }}">{{ 'login.register'|trans({},'forms') }}</a>
                                            </fieldset>
                                        </form>

                                    </div><!-- /.widget-main -->

                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->


                        </div><!-- /.position-relative -->

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div>
    </body>
{% endblock %}











