body {
    background-color: #f5f5f5;
}

.container{
    width: 300px;
    padding: 15px;
    background-color: #f5f5f5;
}

#header {
    margin-left: auto;
    margin-right: auto;
    background-color: #438eb9;
    width: 100%;
    height: 46px;
    padding: 10px;
}

span.logo {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

input[type='text']{
    width: 270px;
    height: 35px;
}

.btn {
    border-radius: 0;
}

.btn-left{
    float:left;
    width: 127.5px;
    margin-right: 15px;
}

.btn-right {
    width: 127.5px;
}
