<div class="row">
    <div class="col-md-12">
        {% if comments %}
            {% for comment in comments %}
                <b>{{ comment.user|lower|capitalize }} {{ 'comment.date'|trans([], "frontend") }} {{ comment.createdAt|date('d.m.Y') }} {{ 'comment.at'|trans([], "frontend") }} {{ comment.createdAt|date('H:i') }} {{ 'comment.clock'|trans([], "frontend") }}:</b>
                {{ comment.message|raw }}
                <br>
            {% endfor %}
        {% endif %}
    </div>
</div>



