{% trans_default_domain 'AdminBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'snippets.my_snippets'|trans([], 'frontend') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <th>{{ 'language'|trans([], 'frontend') }}</th>
                <th>{{ 'description'|trans([], 'frontend') }}</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td><a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self">{{ result.language }}</a></td>
                        <td><a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self">{{ result.description }}</a></td>
                        <td>
                            {% if result.public == false  %}
                                <span class="label label-sm label-warning">{{ 'public.false'|trans({}, 'forms') }}</span>
                            {% else %}
                                <span class="label label-sm label-success">{{ 'public.true'|trans({}, 'forms') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-success">
                                    <a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-check bigger-120" style="color:white;"></i>
                                    </a>
                                </button>

                                <button class="btn btn-xs btn-info">
                                    <a href="{{ path('edit_snippet') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-pencil bigger-120" style="color:white;"></i>
                                    </a>
                                </button>

                                <button class="btn btn-xs btn-danger">
                                    <a href="{{ path('delete_snippet') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-trash-o bigger-120" style="color:white;"></i>
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if pages > 1 %}
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'AppBundle:default:pagination.html.twig' with {
                        'route': 'list_page',
                        'parameters': {},
                        'page': page,
                        'pages': pages,
                        } %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}

