<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.user) }}
            {{ form_widget(form.code_id, {'value' : app.request.get('id')}) }}
            {{ form_row(form.message) }}
        </div>
        <input type="submit" class="btn btn-primary btn-position-right" value="{{ 'form.save'|trans({},'forms') }}">
        {{ form_end(form) }}
    </div>
</div>



