{% trans_default_domain 'AppBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'snippets.new_snippets'|trans([], 'frontend') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.user) }}
                    {{ form_row(form.language) }}
                    <br>
                    {{ form_row(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.snippet) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.information) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.public) }}
                </div>
                <input type="submit" class="btn btn-primary btn-position-right" value="{{ 'form.save'|trans({},'forms') }}">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}
