{% trans_default_domain 'AppBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'page.search'|trans([], 'frontend') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    {% set user = app.user.username %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <th>{{ 'language'|trans([], 'frontend') }}</th>
                <th>{{ 'description'|trans([], 'frontend') }}</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td><a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self">{{ result.language }}</a></td>
                        <td><a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self">{{ result.description }}</a></td>
                        <td>
                            {% if result.public == false  %}
                                <span class="label label-sm label-warning">{{ 'public.false'|trans({}, 'forms') }}</span>
                            {% else %}
                                <span class="label label-sm label-success">{{ 'public.true'|trans({}, 'forms') }}</span>
                            {% endif %}

                            {% if result.user == user %}
                                <span class="label label-sm label-inverse">{{ 'public.own'|trans({}, 'forms') }}</span>
                            {% else %}
                                <span class="label label-sm label-info">{{ result.user }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-success">
                                    <a href="{{ path('snippet_details') }}/{{ result.id }}" target="_self" class="">
                                        <i class="ace-icon fa fa-check bigger-120" style="color:white;"></i>
                                    </a>
                                </button>

                                {% if result.user == user %}
                                    <button class="btn btn-xs btn-info">
                                        <a href="{{ path('edit_snippet') }}/{{ result.id }}" target="_self" class="">
                                            <i class="ace-icon fa fa-pencil bigger-120" style="color:white;"></i>
                                        </a>
                                    </button>

                                    <button class="btn btn-xs btn-danger">
                                        <a href="{{ path('delete_snippet') }}/{{ result.id }}" target="_self" class="">
                                            <i class="ace-icon fa fa-trash-o bigger-120" style="color:white;"></i>
                                        </a>
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}

