{% trans_default_domain 'AppBundle' %}

{% extends 'base.html.twig' %}

{% block contentHeadline %} {{ 'snippets.details'|trans({},'frontend') }}{% endblock %}
{#{% block contentSubHeadline %}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-position-left" onclick="history.back();">{{ 'form.prev'|trans([],'forms') }}</button>

            {% set user = app.user.username %}
            {% if result.user == user %}
                <a href="{{ path('edit_snippet') }}/{{ result.id }}" class="btn  btn-position-left">{{ 'form.edit'|trans([],'forms') }}</a>
            {% endif %}

            <div class="snippet-details-header">
                <b>{{ result.description|raw }}</b>
            </div>
            <div class="snippet-details-body">
                <pre>
                    <code class="language-{{ result.language }}">
                        {{ result.snippet|striptags|raw}}
                    </code>
                </pre>
            </div>
            <div class="snippet-details-footer">
                {{ result.information|raw }}

                <table class="table table-striped margin-top">
                    <tr>
                        <td>{{ 'public.creator'|trans([], 'frontend') }}: </td>
                        <td>{{ result.user|lower|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'public.language'|trans([], 'frontend') }}: </td>
                        <td>{{ result.language }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'public.createdAt'|trans([], 'frontend') }}:</td>
                        <td>{{ result.createdAt|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'public.modifiedAt'|trans([], 'frontend') }}: </td>
                        <td>{{ result.modifiedAt|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'public.visible'|trans([], 'frontend') }}:</td>
                        <td>{{ result.public == '1' ? 'public.true'|trans([], 'frontend')  :  'public.false'|trans([], 'frontend')  }}</td>
                    </tr>
                </table>
            </div>

            {% if result.public == '1' %}
                <div class="snippet-details-comments">
                    <div class="margin-top">
                        {{ include('@App/default/comments.html.twig') }}
                    </div>
                    <div class="margin-top">
                        {{ include('@App/default/new-comment.html.twig') }}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}

